img{
    display: inline-block;
    width: 100%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

input{
    outline: none;
    border: none;
}

button{
    border: none;
}