ul{
    list-style: none;
}

.carpoke__container{
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    border: 10px solid black;
    overflow: hidden;
    margin: auto;
}

.carpoke__header{
    height: 140px;
    background-color: green;
    position: relative;
    margin-bottom: 50px;
}

.cardpoke_img{
    width: 50%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.cardpoke__name{
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.cardpoke__types{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.cardpoke__type{
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
}

.cardpoke__type:nth-child(2)::before{
    content: '/';
    position: absolute;
    left: -10px;
}

.cardpoke__type-label{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #999;
}

.cardBody__elements{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 5px;
}

.cardBody__element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    gap: 6px;
}

.card__body{
    margin-bottom: 15px;
    padding: 5px;
}

.cardBody__span{
    color: #999;
    text-transform: uppercase;
    font-size: 15px;
}


